In [ ]:
# import Data Manipulation Libraries
import numpy as np
import pandas as pd
# import data visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns
# import Filter Warning Libraries
import warnings
warnings.filterwarnings("ignore")

# import Logging Files
import logging
logging.basicConfig(level = logging.INFO,
                    filename= "model.log",
                    filemode= "w",
                    format= "%(asctime)s - %(levelname)s - %(message)s")

In [25]:
# data Import Using Pandas Function

url = "https://raw.githubusercontent.com/Digraskarpratik/BankMarketing_MLModel/refs/heads/main/BankTelemarketing.csv"

df = pd.read_csv(url, sep= ";")

df.sample(frac=1) # shuffle Dataset
# print (df.sample(frac=1))

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
33279,41,blue-collar,married,secondary,no,1522,yes,yes,cellular,20,apr,377,1,341,2,failure,no
28004,46,services,divorced,secondary,no,755,no,no,cellular,28,jan,246,1,-1,0,unknown,no
38937,27,technician,married,secondary,no,876,yes,no,cellular,18,may,268,1,355,1,failure,no
36534,34,retired,married,secondary,no,165,no,no,cellular,12,may,99,1,370,1,failure,no
14107,29,blue-collar,married,primary,no,243,no,yes,cellular,11,jul,109,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12265,42,self-employed,divorced,tertiary,no,360,yes,no,unknown,24,jun,110,5,-1,0,unknown,no
8581,41,services,married,secondary,no,146,yes,yes,unknown,3,jun,199,1,-1,0,unknown,no
23406,39,management,single,secondary,no,113,yes,no,telephone,27,aug,23,9,-1,0,unknown,no
7931,35,technician,single,secondary,no,1609,yes,no,unknown,30,may,288,3,-1,0,unknown,no
37752,35,management,married,tertiary,no,1212,yes,no,cellular,14,may,235,1,352,1,other,no

In [ ]:
logging.info("Dataset Uploaded Successfully.......")

--- Logging error ---
Traceback (most recent call last):
  File "c:\Users\Pratik\anaconda3\Lib\logging\__init__.py", line 464, in format
    return self._format(record)
           ^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Pratik\anaconda3\Lib\logging\__init__.py", line 460, in _format
    return self._fmt % values
           ~~~~~~~~~~^~~~~~~~
KeyError: 'level'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Pratik\anaconda3\Lib\logging\__init__.py", line 1160, in emit
    msg = self.format(record)
          ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Pratik\anaconda3\Lib\logging\__init__.py", line 999, in format
    return fmt.format(record)
           ^^^^^^^^^^^^^^^^^^
  File "c:\Users\Pratik\anaconda3\Lib\logging\__init__.py", line 706, in format
    s = self.formatMessage(record)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Pratik\anaconda3\Lib\logging\__init__.py", line 675, in formatMessage
    return self._style.format(record)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Pratik\anaconda3\Lib\logging\__init__.py", line 466, in format
    raise ValueError('Formatting field not found in record: %s' % e)
ValueError: Formatting field not found in record: 'level'
Call stack:
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\Pratik\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\Pratik\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\Pratik\anaconda3\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "c:\Users\Pratik\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\Pratik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Pratik\AppData\Local\Temp\ipykernel_3328\752175859.py", line 1, in <module>
    logging.info("Dataset Uploaded Successfully.......")
Message: 'Dataset Uploaded Successfully.......'
Arguments: ()